.forms {
  top: 13%;
  left: 22%;
  position: fixed;
  width: 78%;
  height: 90%;
  color: black;
  background-color: #d4d4d4 ;
}


.tnt-std-default-inputlar {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
 
}
.tnt-std-default-label {
  width: 250px;
  min-height:75px ;
  background: #e5d8d9;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: start;
  margin-left: 10px;
 
}

.tnt-std-default-textfield {
  width: 250px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  font-style: italic;
}

.tnt-std-input-header {
  font-weight: 500;
  color: 333;
  padding: 5px;
  margin: 0;
}
.tnt-std-input {
  width: 250px;
  background: #e5d8d9;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: start;
  margin-left: 10px;
  margin-bottom: 0;

}
.search-student{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.search-button{
  margin-left: 10px !important;
  padding:15px !important;
  height: 40px !important;
}

