.inputlar{
    display: flex;
    align-items: center;
    justify-content: space-around  !important;

}

.label{
    width: 300px;
    background: #e5d8d9;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: start;
    margin-left:20px;
}
.label p{
    font-weight: 500;
    color:333;
    padding-top:10px;
}
.MuiInputBase-input {
    margin-left:10px  !important;
  }

  .textfield{
      width: 300px;
      font-size: 20px;
      background-color: white;
      border-radius: 10px;
      font-style:italic;
    
  }