.general-operation {
  top: 13%;
  left: 22%;
  position: fixed;
  width: 78%;
  height: 90%;
  color: black;
}
.advisor-selection{
  background: #e5d8d9;
  margin-left: 50px;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  max-width: 86%;
  overflow: auto;
  float:left;
}
.advisor-selection-title{
  font-size: 30px;
  text-align: start;
  margin-left:20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.select-advisor-cards{
  display: flex;
  flex-wrap: wrap;
}
.select-advisor-cards > div {
  margin: 20px;
}
