.thesis-advisor-and-topic-appointment-by-eabd {
  top: 13%;
  left: 22%;
  position: fixed;
  width: 78%;
  height: 90%;
  color: black;
  background: #d4d4d4;
  flex-direction: column;
}
.tnt-appointment-topic {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 20px 30px 20px;
  text-align: start;
}

.tnt-appointment-buttons {
  position: relative;
  left: 30%;
  top: 10%;
}
.textfield-locked-inputs {
  width: 78%;
}
